* {
    color: gray;
}

h1 {
    color: white;
    border: solid 1px #00ced1;
    background-color: #00ced1;
}

h2 {
    border-bottom: 1px solid whitesmoke;
}

h3 {
    color: #00ced1;
    border: 1px solid #ddffff;
    background-color: #ddffff;
}

a:link {
    color: #00ced1;
}

a:visited {
    color: purple;
}